<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="main">
    <form class="form-inline">
      <!-- Campos do produto -->
      <input type="text" placeholder="Produto" name="produto" [(ngModel)]="produto.produto" class="form-control">
      <input type="text" placeholder="Descrição" name="descricao" [(ngModel)]="produto.descricao" class="form-control">
      <input type="number" placeholder="Preço" name="preco" [(ngModel)]="produto.preco" class="form-control">
      <input type="text" placeholder="imagemUrl" name="imagemUrl" [(ngModel)]="produto.imagemUrl" class="form-control">
      <select name="categoria" [(ngModel)]="produto.categoria" class="form-control "  style="width: 150px;">
        <option value="" disabled selected hidden>Categoria</option>
        <option *ngFor="let cat of categorias" [value]="cat.nomeCategoria">{{cat.nomeCategoria}}</option>
      </select>
      <!-- Botões do produto -->
      <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="btn btn-primary btn-small" (click)="cadastrar()">
      <input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-warning btn-small" (click)="editar()">
      <input type="button" value="Remover" *ngIf="!btnCadastro" class="btn btn-danger btn-small" (click)="remover()">
      <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary btn-small" (click)="cancelar()">



<!-- Botão para abrir o modal -->
<button class="btn btn-primary" (click)="exibirModal = true">Gerenciar Categorias</button>

<!-- Modal -->
<div class="modal" *ngIf="exibirModal">
  <div class="modal-content">
    <span class="close" (click)="exibirModal = false">&times;</span>
    <h2>Gerenciar Categorias</h2>

    <!-- Formulário de Cadastro de Categoria -->
<div>
  <h3>Cadastrar Nova Categoria</h3>
  <input type="text" placeholder="Nome da Categoria" name="nomeCategoria" [(ngModel)]="categoria.nomeCategoria" class="form-control">
  <button (click)="criarCategoria()" class="btn btn-success btn-small mt-2">Cadastrar Categoria</button>
</div>

<div>
  <table class="spaced-table table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categorias;">
        <th>{{cat.id}}</th>
        <td>{{cat.nomeCategoria}}</td>
        <td><button class="btn btn-danger" (click)="removerCategoria(cat.id)">Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
  </form>
    <!-- Tabela de Produtos -->
    <table class="spaced-table table">
      <thead>
        <tr>
          <th>#</th>
          <th>Produto</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Categoria</th>
          <th>Imagem</th>
          <th>Alterar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos; index as i">
          <th>{{i+1}}</th>
          <td>{{p.produto}}</td>
          <td class="descricao-column">{{p.descricao}}</td>
          <td>{{ p.preco | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{p.categoria}}</td>
          <td class="descricao-column">{{p.imagemUrl}}</td>
          <td><button class="btn btn-success" (click)="selecionarProduto(i)">Selecionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
