<div class="nav">
  <ul class="nav flex-column" >
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/produtos">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pedidos">Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/funcionarios">Funcionarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/entregadores">Entregadores</a>
    </li>
  </ul>
  </div>
