<div class="main-content">

<h1>cardapio</h1>

  <div class="modal" *ngIf="exibirModal">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h2>Seu Pedido</h2>

          <div class="form-group">
      <label for="nomeCliente">Nome:</label>
      <input type="text" id="nomeCliente" class="form-control" [(ngModel)]="nomeCliente">
    </div>
    <div class="form-group">
      <label for="enderecoCliente">Endereço:</label>
      <input type="text" id="enderecoCliente" class="form-control" [(ngModel)]="enderecoCliente">
    </div>
    <div class="form-group">
      <label for="formaDePagamento">Forma de Pagamento:</label>
      <select id="formaDePagamento" class="form-control" [(ngModel)]="formaDePagamento">
        <option value="credito">Crédito</option>
        <option value="debito">Débito</option>
        <option value="dinheiro">Dinheiro</option>
      </select>
    </div>
      <ul>
        <li *ngFor="let produto of carrinho; let i = index">
          {{ produto.produto }} - Preço por Unidade: {{ produto.preco | currency }} - Quantidade: {{ produto.quantidade }} - Subtotal: {{ produto.preco * produto.quantidade | currency }}
          <button (click)="removerItem(i)" class="btn btn-danger btn-sm">Remover</button>
        </li>

      </ul>
      <p>Total: {{ calcularTotal() | currency }}</p>
      <button (click)="enviarPedido()" [disabled]="!nomeCliente || !enderecoCliente || !formaDePagamento">Enviar Pedido</button>
      <button class="zap" (click)="enviarPedidoWhatsApp()" [disabled]="!nomeCliente || !enderecoCliente || !formaDePagamento">Enviar Pedido no Whatsapp</button>
    </div>
  </div>




  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let p of produtos">
      <div class="card bg-dark text-white ml-2" style="width: 15rem;">
        <img [src]="p.imagemUrl" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
          <h5 class="card-title">{{ p.produto }}</h5>
          <p class="card-text">{{ p.descricao }}</p>
          <p class="card-text">Preço: {{ p.preco | currency:'BRL':'symbol':'1.2-2' }}</p>
          <div class="quantidade d-flex align-items-center justify-content-center">
            <button (click)="decrementarQuantidade(p)" class="btn btn-danger btn-sm mr-2">-</button>
            <span class="mx-2">{{ p.quantidade }}</span>
            <button (click)="incrementarQuantidade(p)" class="btn btn-success btn-sm ml-2">+</button>
          </div>
          <div class="text-center mt-2">
            <button (click)="adicionarAoPedido(p)" class="btn btn-secondary">Adicionar ao Pedido</button>
          </div>
      </div>
    </div>
  </div>
    <div class="fixed-footer">
      <div class="total-pedido">
        <span>Total: {{ calcularTotal() | currency }}</span>
      </div>
      <button (click)="abrirModal()" class="btn btn-info">Finalizar Pedido</button>
    </div>
  </div>


