<div class="main-content">
  <h1>cardapio</h1>

  <!-- Seção de Pesquisa -->
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <input type="text" [(ngModel)]="termoDeBusca" placeholder="Pesquisar produto" class="form-control">
      </div>
      <div class="col">
        <select [(ngModel)]="categoriaDeBusca" class="form-control">
          <option value="">Todas as Categorias</option>
          <option *ngFor="let cat of categorias | keyvalue" [value]="cat.key">
            {{ cat.key }}
          </option>
        </select>
      </div>
      <div class="col-auto">
        <button (click)="filtrarProdutos()" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>

  <!-- Modal de Pedido -->
  <div class="modal" *ngIf="exibirModal">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h2>Seu Pedido</h2>

      <!-- Formulário de Pedido -->
      <div class="form-group">
        <label for="nomeCliente">Nome:</label>
        <input type="text" id="nomeCliente" class="form-control" [(ngModel)]="nomeCliente">
      </div>

      <div class="form-group">
        <label for="cepCliente">CEP (opcional):</label>
        <input type="text" id="cepCliente" class="form-control" [(ngModel)]="cepCliente" (change)="consultarCep(cepCliente)">
      </div>
      <div class="form-group">
        <label for="ruaCliente">Rua:</label>
        <input type="text" id="ruaCliente" class="form-control" [(ngModel)]="ruaCliente">
      </div>
      <div class="form-group">
        <label for="numeroResidencia">Número ou Apartamento:</label>
        <input type="text" id="numeroResidencia" class="form-control"  [(ngModel)]="numeroResidencia" >
      </div>
      <div class="form-group">
        <label for="bairroCliente">Bairro:</label>
        <input type="text" id="bairroCliente" class="form-control" [(ngModel)]="bairroCliente">
      </div>
      <div class="form-group">
        <label for="cidadeCliente">Cidade:</label>
        <input type="text" id="cidadeCliente" class="form-control" [(ngModel)]="cidadeCliente">
      </div>
      <div class="form-group">
        <label for="ufCliente">Estado:</label>
        <input type="text" id="ufCliente" class="form-control" [(ngModel)]="ufCliente">
      </div>

      <!-- Campos de E-mail e Código de Verificação -->
      <div class="form-group d-flex align-items-center">
        <label for="emailClie nte" class="mr-2">E-mail:</label>
        <input type="email" id="emailCliente" class="form-control mr-2" [(ngModel)]="verificacao.email">
        <button (click)="enviarCodigoDeVerificacao()" class="btn btn-primary">Enviar Código</button>
      </div>
      <div class="form-group d-flex align-items-center">
        <label for="codigoVerificacao" class="mr-2">Código de Verificação:</label>
        <input type="text" id="codigoVerificacao" class="form-control mr-2" [(ngModel)]="verificacao.codigo">
        <button (click)="validarCodigoDeVerificacao()" [disabled]="!verificacao.email || !verificacao.codigo" class="btn btn-success">Validar Código</button>
      </div>

      <!-- Forma de Pagamento -->
      <div class="form-group">
        <label for="formaDePagamento">Forma de Pagamento:</label>
        <select id="formaDePagamento" class="form-control" [(ngModel)]="formaDePagamento">
          <option value="credito">Crédito</option>
          <option value="debito">Débito</option>
          <option value="dinheiro">Dinheiro</option>
        </select>
      </div>

      <!-- Listagem de Produtos no Carrinho -->
      <ul>
        <li *ngFor="let produto of carrinho; let i = index">
          {{ produto.produto }} - Preço por Unidade: {{ produto.preco | currency }} - Quantidade: {{ produto.quantidade }} - Subtotal: {{ produto.preco * produto.quantidade | currency }}
          <button (click)="removerItem(i)" class="btn btn-danger btn-sm">Remover</button>
        </li>
      </ul>
      <p>Total: {{ calcularTotal() | currency }}</p>

      <!-- Botões de Envio do Pedido -->
      <button (click)="enviarPedido()" [disabled]="!nomeCliente || !formaDePagamento || !codigoValidado" class="btn btn-primary">Enviar Pedido</button>
      <button class="zap" (click)="enviarPedidoWhatsApp()" [disabled]="!nomeCliente || !formaDePagamento || !codigoValidado" class="btn btn-info">Enviar Pedido no Whatsapp</button>
    </div>
  </div>

  <!-- Exibição dos Produtos -->
  <div *ngFor="let categoria of categoriasFiltradas | keyvalue">
    <h1>{{ categoria.key }}</h1>
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let p of categoria.value">
        <!-- Card do Produto -->
        <div class="card bg-dark text-white ml-2" style="width: 15rem;">
          <img [src]="p.imagemUrl" class="card-img-top" alt="Imagem do Produto">
          <div class="card-body">
            <h5 class="card-title">{{ p.produto }}</h5>
            <p class="card-text">{{ p.descricao }}</p>
            <p class="card-text">Preço: {{ p.preco | currency:'BRL':'symbol':'1.2-2' }}</p>
            <!-- Botões de Quantidade -->
            <div class="quantidade d-flex align-items-center justify-content-center">
              <button (click)="decrementarQuantidade(p)" class="btn btn-danger btn-sm mr-2">-</button>
              <span class="mx-2">{{ p.quantidade }}</span>
              <button (click)="incrementarQuantidade(p)" class="btn btn-success btn-sm ml-2">+</button>
            </div>
            <button (click)="adicionarAoPedido(p)" class="btn btn-secondary mt-2">Adicionar ao Pedido</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé Fixo com Total e Botão de Finalização -->
  <div class="fixed-footer">
    <div class="total-pedido">
      <span>Total: {{ calcularTotal() | currency }}</span>
    </div>
    <button (click)="abrirModal()" class="btn btn-info">Finalizar Pedido</button>
  </div>
</div>
