.main-container {
  display: flex;
}

.app-sidebar {
  width: 200px; /* Ajuste conforme necessário */
  height: 100vh; /* Altura completa da tela */
}

.content {
  flex-grow: 1; /* Ocupa o espaço restante */
  display: flex; /* Usa Flexbox */
  flex-direction: column; /* Organiza os filhos em coluna */

}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 20px;
}

.form-inline input, .form-inline button {
  flex: 1;
  min-width: 120px;
}

.spaced-table {
  table-layout: auto;
  width: 100%;

}
.descricao-column{
  white-space: nowrap;
  overflow: visible;
}
.main{
margin-left: 10px;
}
