.main-container {
  display: flex;
}

.app-sidebar {
  width: 200px;
  height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 20px;
}

.form-inline input, .form-inline button {
  flex: 1;
  min-width: 120px;
}

.spaced-table {
  table-layout: auto;
  width: 100%;

}
.descricao-column{
  white-space: nowrap;
  overflow: visible;
}

