
<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="main">

  <table class="spaced-table table">
    <thead>
      <tr>
        <th>#</th>
        <th>Cliente</th>
        <th>Endereço</th>
        <th>Items</th>
        <th>Total</th>
        <th>Status</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of pedidos; index as i">
        <th>{{i+1}}</th>
        <th>{{p.nomeCliente}}</th>
        <th>{{p.enderecoCliente}}</th>
        <th>{{p.itens}}</th>
        <th>{{p.total | currency:'BRL':'symbol':'1.2-2' }}</th>
        <th>
          <select (change)="atualizarStatusPedido(p.id, $event)">
            <option value="Aguardando">Aguardando</option>
            <option value="Preparando">Preparando</option>
            <option value="Saiu para Entrega">Saiu para Entrega</option>
            <option value="Finalizado">Finalizado</option>
          </select>
        </th>
      </tr>
    </tbody>
  </table>
  </div>
  </div>



